.setsidebar{
background-color: #0EAD69;
width:20%;
height:85%;

  position: fixed;
  margin-top:268px;
  left: 0;
 transform: translateX(-100%);
 transition: transform 0.3s ease-out;
 z-index: 200;

}
ul{
  list-style-type: none;
  text-decoration: none;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: 0.5rem 0;
  
}

a:hover {
  color: white;
  text-decoration: none;
}
.setsidebaropen{
  background-color: #0EAD69;
  width : 20%;
  height : 85%;
  
    position : fixed;
    margin-top : 268px;
    left : 0;
transform: translateX(0);

}


